@font-face {
    font-family: Arial;
    src: url(./assets/fonts/Arial.ttf);
}
@font-face {
    font-family: Georgia;
    src: url(./assets/fonts/Georgia.ttf);
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.keyboardcontainer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
}
.title {
    font-size: 32px;
}
.hidden {
    display: none;
}
.bodykeyboard {
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background: #888888;
    border: 3px solid #222222;
    border-radius: 5px;
}
.linekeyboard {
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}
.keyboardkey {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background: #444444;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: border-radius 0.3s, background-color 0.3s;
}
.keyboardkeymore {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background: #444444;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: border-radius 0.3s, background-color 0.3s;
}
.textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
}
.keyboardkey:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.Backspace {
    width: 89px;
    background-color: #222222;
}
div.keyboardkeymore.Backspace:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.CapsLock:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.ShiftLeft:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.ShiftRight:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.Enter:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.Tab:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.Delete:hover {
    background: #9d5ac4;
}
div.keyboardkey.Space:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.CtrlLeft:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.Win:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.AltLeft:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.CtrlRight:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.AltRight:hover {
    background: #9d5ac4;
}
div.keyboardkeymore.CapsLock {
    width: 100px;
    background-color: #222222;
}
div.keyboardkeymore.ShiftLeft {
    width: 86px;
    background-color: #222222;
}
div.keyboardkeymore.ShiftRight {
    width: 86px;
    background-color: #222222;
}
div.keyboardkeymore.Enter {
    width: 74px;
    background-color: #222222;
}
div.keyboardkeymore.Tab {
    width: 50px;
    background-color: #222222;
}
div.keyboardkeymore.Delete {
    width: 33px;
    background-color: #222222;
}
div.keyboardkey.Space {
    width: 316px;
    background-color: #222222;
}
div.keyboardkeymore.CtrlLeft {
    width: 40px;
    background-color: #222222;
}
div.keyboardkeymore.Win {
    width: 40px;
    background-color: #222222;
}
div.keyboardkeymore.AltLeft {
    width: 40px;
    background-color: #222222;
}
div.keyboardkeymore.AltRight {
    width: 40px;
    background-color: #222222;
}
div.keyboardkeymore.CtrlRight {
    width: 40px;
    background-color: #222222;
}
.Backquote.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit1.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit2.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit3.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit4.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit5.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit6.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit7.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit8.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit9.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digit0.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digitminus.active {
    border-radius: 40px;
    background: #c587e9;
}
.Digitplus.active {
    border-radius: 40px;
    background: #c587e9;
}
.Backspace.active {
    border-radius: 40px;
    background: #c587e9;
}
.Tab.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyQ.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyW.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyE.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyR.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyT.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyY.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyU.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyI.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyO.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyP.active {
    border-radius: 40px;
    background: #c587e9;
}
.BracketLeft.active {
    border-radius: 40px;
    background: #c587e9;
}
.BracketRight.active {
    border-radius: 40px;
    background: #c587e9;
}
.Backslash.active {
    border-radius: 40px;
    background: #c587e9;
}
.Delete.active {
    border-radius: 40px;
    background: #c587e9;
}
.CapsLock.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyA.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyS.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyD.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyF.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyG.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyH.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyJ.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyK.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyL.active {
    border-radius: 40px;
    background: #c587e9;
}
.Semicolon.active {
    border-radius: 40px;
    background: #c587e9;
}
.Quote.active {
    border-radius: 40px;
    background: #c587e9;
}
.Enter.active {
    border-radius: 40px;
    background: #c587e9;
}
.ShiftLeft.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyZ.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyX.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyC.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyV.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyB.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyN.active {
    border-radius: 40px;
    background: #c587e9;
}
.KeyM.active {
    border-radius: 40px;
    background: #c587e9;
}
.Comma.active {
    border-radius: 40px;
    background: #c587e9;
}
.Period.active {
    border-radius: 40px;
    background: #c587e9;
}
.Slash.active {
    border-radius: 40px;
    background: #c587e9;
}
.ArrowUp.active {
    border-radius: 40px;
    background: #c587e9;
}
.ShiftRight.active {
    border-radius: 40px;
    background: #c587e9;
}
.CtrlLeft.active {
    border-radius: 40px;
    background: #c587e9;
}
.Win.active {
    border-radius: 40px;
    background: #c587e9;
}
.AltLeft.active {
    border-radius: 40px;
    background: #c587e9;
}
.Space.active {
    border-radius: 40px;
    background: #c587e9;
}
.AltRight.active {
    border-radius: 40px;
    background: #c587e9;
}
.ArrowLeft.active {
    border-radius: 40px;
    background: #c587e9;
}
.ArrowDown.active {
    border-radius: 40px;
    background: #c587e9;
}
.ArrowRight.active {
    border-radius: 40px;
    background: #c587e9;
}
.CtrlRight.active {
    border-radius: 40px;
    background: #c587e9;
}